{% extends 'base.html.twig' %}

{% block title %}Bons de travail{% endblock %}

{% block body %}
    <main class="row mt-5">
        <article class="col-10 mx-auto">
            <div class="row align-items-center">
                <div class="col-4">
                    <h3>Bons de travail</h3>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary btn-sm" href="{{ path('work_order_new') }}" role="button">Nouveau bon de travail</a>
                </div>
            </div>
            <div class="mt-5">
                {% include 'work_order/_workOrderList.html.twig' with {workOrders: workOrders} only %}
            </div>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(workOrders) }}
            </div>
        </article>
    </main>
{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Pièces détachées{% endblock %}

{% block body %}
    <main class="row mt-5">
        <aside class="col-2">
            {% include 'part/_filter.html.twig' %}
        </aside>
        <article class="col-10 mx-auto">
            <div class="row align-items-start">
                <div class="col-3">
                    <h3>Pièces détachées</h3>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary btn-sm" href="{{ path('part_new') }}" role="button">Nouvelle pièce</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    {% include 'part/_partList.html.twig' with {parts: parts} only %}
                </div>
            </div>
            {# display navigation #}
            <div class="row mt-4">
                <div class="col-5 navigation">
                    {{ knp_pagination_render(parts) }}
                </div>
            </div>
        </article>
    </main>
{% endblock %}