{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}
    <div class="border border-primary rounded mt-5 p-5">
        <div style="background: white;">
            <h1 class="text-center mt-5 p-5">L'adresse du site a changé. Merci d'utiliser maintenant : <br><br>
            <a href="https://gmaops.fr">https://gmaops.fr</a></h1>
        </div>
    </div>
{% endblock %}
