<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style> 
            html{
                margin: 0px 0px;
            }
        </style> 
    </head>
    <body>
        <div style="margin-top: 10px;">
            <p style="text-align: center; font-size: 1em; font-weight: bold; font-family: serif;">{{ part.code }}</p>
            <p style="text-align: center; font-size: 0.8em; font-weight: bold; font-family: arial;">{{ part.designation }}</p>
            <p style="text-align: center; font-size: 0.8em; font-weight: bold; font-family: arial;">{{ part.stock.place }}</p>
            {# <br> #}
        </div>
    </body>
</html>
