{% extends 'base.html.twig' %}

{% block title %}Gmao PS bienvenue !{% endblock %}

{% block body %}
    <div class="row mt-5">
        <section class="col-8 offset-2">
            <div class="row mb-3">
                <div class="col-3">
                    <h3>BT en cours</h3>
                </div>
                <div class="col-2">
                    <a href="{{ path('work_order_new') }}" class="btn btn-primary btn-sm">Nouveau BT</a>
                </div>
            </div>
            {% include('default/_inProgressWorkorder.html.twig') %}
            {# display navigation #}
            {# <div class="navigation">
                {{ knp_pagination_render(workorders) }}
            </div> #}
        </section>
        <aside class="col-2">
        </aside>
    </div>
{% endblock %}
