<h1>Hello, merci de confirmer cet email</h1>

<p>
    Merci de confirmer cet email en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Je confirme !</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt.
</p>
