{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('register') }}
{% endblock %}

{% block title %}Inscriptions
{% endblock %}

{% block body %}
	<main class="d-flex justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-lg-9">
			<header class="row mb-3 justify-content-start">
				{% for flashError in app.flashes('verify_email_error') %}
					<div class="alert ale -danger" role="alert">{{ flashError }}</div>
				{% endfor %}
				<div class="d-flex justify-content-start align-items-center">
					<h1 class="page-title">Inscription</h1>
				</div>
			</header>
			<section class="row">
				{% include('registration/_userInscriptionForm.html.twig') %}
			</section>
		</article>
	</main>
{% endblock %}
