{% extends 'base.html.twig' %}

{% block title %}Inscriptions{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 mx-auto mt-5 mb-4">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert ale -danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <h1>Inscription</h1>
            <div class="mt-5 mb-4">
                {% include('registration/_userInscriptionForm.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
