{% extends 'base.html.twig' %}

{% block title %}Edit Service
{% endblock %}

{% block body %}
	<h3 class="text-primary">Edit Service</h3>

	{{ include('service/_form.html.twig', {'button_label': 'Modifier'}) }}
	<div class="d-flex justify-content-start align-items-center mt-3">
		<a class="btn btn-primary btn-sm me-3" href="{{ path('service_index') }}" role="button">Retour à la liste</a>
		{{ include('service/_delete_form.html.twig') }}
	</div>

{% endblock %}
