{% extends 'base.html.twig' %}

{% block title %}Nouveau service
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-md-11 col-lg-10 col-xl-9">
			<header class="d-flex justify-content-start align-items-center mb-3">
				<h3 class="text-primary me-5">Création service</h3>
				<a class="btn btn-primary btn-sm" href="{{ path('service_index') }}">Retour à la liste</a>
			</header>
			<section>
				{{ include('service/_form.html.twig') }}
			</section>
		</article>
	</main>
{% endblock %}