<!-- _modalNewPart.html.twig -->

<div class="modal" id="partModal">
	<div class="modal-dialog modal-parts">
		<div
			class="modal-content">

			<!-- En-tête de la modale -->
			<div class="modal-header">
				<h5 class="modal-title">Liste des pièces</h5>
				<button type="button" class="closePartModal" data-dismiss="modal">&times;</button>
			</div>

			<!-- Contenu de la modale -->
			<table class="table modal-body">
				<thead>
					<tr>
						<th><input class="tdCodeClass" type="text" id="codeFilter" size="8" placeholder="Code"></th>
						<th><input class="tdDesignationClass" type=" text" id="designationFilter" size=" 45" placeholder="Désignation"></th>
						<th><input class="tdReferenceClass" type="text" id="referenceFilter" size="30" placeholder="Référence"></th>
					</tr>
				</thead>
				<tbody id="partListModale"></tbody>
			</table>

			<!-- Pied de la modale -->
			<div class="modal-footer">
				<button type="button" class="closePartModal" class="btn btn-secondary">Fermer</button>
			</div>
		</div>
	</div>
</div>
