<!-- La modale -->
<div class="modal" id="myModal">
	<div class="modal-dialog">
		<div
			class="modal-content">

			<!-- En-tête de la modale -->
			<div class="modal-header">
				<h4 class="modal-title">Sélectionnez un fournisseur</h4>
			</div>

			<!-- Contenu de la modale -->
			<div class="modal-body">
				<div id="selectContainer">
					<select id="fournisseurs" class="form-control"></select>
				</div>
			</div>

			<!-- Pied de la modale -->
			<div class="modal-footer">
				<button type="button" id="closeModal" class="btn btn-secondary">Fermer</button>
			</div>
		</div>
	</div>
</div>
