<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style> 
            html{margin: 0px 0px;}
        </style> 
    </head>
    <body>    
        <div style="margin-top: 5px;">
            <p style="text-align: center; font-size: 0.8em; font-weight: bold; font-family: serif;">{{ part.code }}</p>
            <p style="text-align: center; font-size: 0.6em; font-weight: bold; font-family: arial;">{{ part.designation }}</p>
            <p style="text-align: center; font-size: 0.7em; font-weight: bold; font-family: arial;">{{ part.reference }}</p>
            <p style="text-align: center; font-size: 0.7em; font-weight: bold; font-family: arial;">{{ part.stock.place }}</p>
           
            <img style="width: 50px;" src="C:\wamp64\www\gmao\public\images\qr-codes\62e0c84f961cf.png" />
          
         </div>
    </body>
</html>
