<<<<<<< HEAD
<tr  style="background-color: #60dd28">
=======
<tr style="background-color: #60dd28">
>>>>>>> 663d1fb7487d302792f2f41f6cdedb9bdd4576d4
    <td>{{ form_widget(form.number) }}</td>
    <td>{{ form_widget(form.provider) }}</td>
</tr>