{% extends 'base.html.twig' %}

{% block title %}Liste BL{% endblock %}

{% block body %}
    <main class="row justify-content-start mt-5">
        {% include 'user/_photo.html.twig' %}
        <article class="col">
            <section class="row justify-content-between">
                <div class="d-flex justify-content-between flex-wrap mb-4">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="me-5">
                            <h1 class="page-title">Bons de livraison</h1>
                        </div>
                        <div>
                            <a class="btn btn-primary btn-sm" href="{{ path('delivery_note_new') }}" role="button">Nouveau</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row js-filter">
                <div class="col-11">
                    {% include 'delivery_note/_deliveryNoteList.html.twig' with {'delivery_notes': delivery_notes, 'form': form} only %}
                    <div class="col-10 navigation js-filter-pagination mb-5">
                        {% include 'delivery_note/_pagination.html.twig' %}
                    </div>
                </div>
            </section>
        </article>
    </div>
{% endblock %}