<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bon de Travail</title>
        <style> 
            html{
                margin:0px 0px;
            
            }
        </style> 
    </head>
    <body>
        {% for deliveryNotePart in deliveryNoteParts %}
            {% for i in 1..deliveryNotePart.quantity %}
                <div style="margin-top: 20px;">
                    <p style="text-align: center; font-size: 1em; font-weight: bold; font-family: serif;">{{ deliveryNotePart.part.code }}</p>
                    <p style="text-align: center; font-size: 0.8em; font-weight: bold; font-family: arial;">{{ deliveryNotePart.part.designation }}</p>
                    <p style="text-align: center; font-size: 0.8em; font-weight: bold; font-family: arial;">{{ deliveryNotePart.part.stock.place }}</p>
                    {# <br> #}
                </div>
            {% endfor %}
        {% endfor %}
    </body>
</html>

