{% extends 'base.html.twig' %}

{% block title %}Liste ateliers
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-md-11 col-lg-10 col-xl-9">
			<header class="row mb-3 justify-content-start">
				<div class="d-flex justify-content-start">
					<h3 class="text-primary">Ateliers</h3>
					<a class="btn btn-primary btn-sm mb-3 ms-5" href="{{ path('workshop_new') }}" role="button">Nouvel atelier</a>
				</div>
			</header>
			<section>
				<div class="row mt-4">
					<div class="col-12 col-md-8">
						{% include 'workshop/_workshopList.html.twig' with {workshops: workshops} only %}
					</div>
				</div>
			</section>
		</article>
	</main>
{% endblock %}
