<table class="table">
	<thead>
		<tr class="sorting">
			<th>Lettres</th>
			<th>Désignation</th>
			<th>Numéro de compte</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for accountType in accountTypes %}
			<tr>
				<td data-label="Lettre">{{ accountType.letter }}</td>
				<td data-label="Désignation">{{ accountType.designation }}</td>
				<td data-label="Nméro de compte">{{ accountType.accountNumber }}</td>
				<td data-label="Action">
					<a href="{{ path('accountType_edit', {'id': accountType.id}) }}">Editer</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="3">Aucun service</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
