<table class="table table-sm">
    <thead class="js-filter-sorting">
        {% include 'part/_sortingAdd.html.twig' %}
    </thead>
    <tbody class="js-filter-content">
        {% include 'part/_partsAdd.html.twig' %}
    </tbody>
</table>