<div class="row">
    <table class="table table-sm table-striped">
        <thead>
            {# {% include 'part/_sortingAppro.html.twig' %} #}
        </thead>
        <tbody class="js-filter-content essai">
            {% include 'part/_partAppros.html.twig' %}
        </tbody>
    </table>
</div>