<section>
	{% if part.machines is not empty %}
		<h4>Machines</h4>
		{% for machine in part.machines %}
			<p>- {{ machine.internalCode ~ " " }}{{ machine.designation }}</p>
		{% endfor %}
	{% endif %}
</section>
