<table class="table table-sm part_table">
    <thead class="js-filter-sorting">
        {% include 'part/_sorting.html.twig' %}
    </thead>
    <tbody class="js-filter-content">
        {% include 'part/_parts.html.twig' %}
    </tbody>
</table>