{% extends 'base.html.twig' %}

{% block title %}Pièces détachées{% endblock %}

{% block body %}
    <main class="row mt-4">
        <div class="col-12">
            <div class="row">
                <div class="col-3 offset-2">
                    <h3>Pièces détachées</h3>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary btn-sm" href="{{ path('part_new') }}" role="button">Nouvelle pièce</a>
                </div>
            </div>
            <div class="row mt-4">
                <aside class="col-2">
                    {% include 'part/_filter.html.twig' %}
                </aside>
                <section class="col-10">
                    {% include 'part/_partList.html.twig' with {parts: parts} only %}
                </section>
            </div>
            {# display navigation #}
            <div class="row mt-4">
                <div class="col-4 offset-2 navigation">
                    {{ knp_pagination_render(parts) }}
                </div>
            </div>
        </article>
    </main>
{% endblock %}