{% extends 'base.html.twig' %}

{% block title %}Pièces détachées{% endblock %}

{% block body %}
    <main class="row mt-4 part-js-filter" >
        <div class="col-12">
            <div class="row">
                <div class="col-3 offset-2">
                    <h3>Pièces détachées</h3>
                </div>
            </div>
            <div class="row mt-4">
                <aside class="col-2">
                    <a class="btn btn-primary btn-sm mb-3" href="{{ path('part_new') }}" role="button">Nouvelle pièce</a>
                    {# {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary btn-sm" href="{{ path('appro_to_zero') }}" role="button">approtozero</a>
                    {% endif %} #}
                    {% include 'part/_filter.html.twig' %}
                </aside>
                <section class="col-10">
                    {% include 'part/_partList.html.twig' with {parts: parts} only %}
                </section>
            </div>
            {# display navigation #}
            <div class="row mt-4">
                <div class="col-4 offset-2 navigation js-filter-pagination">
                    {% include 'part/_pagination.html.twig' %}
                </div>
            </div>
        </article>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('part') }}
{% endblock %}
