{% extends 'base.html.twig' %}

{% block title %}Pièces détachées{% endblock %}

{% block body %}
    <main class="row mt-5">
        <article class="col-10 mx-auto">
            <div class="row align-items-center">
                <div class="col-4">
                    <h3>Pièces détachées</h3>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary btn-sm" href="{{ path('part_new') }}" role="button">Nouvelle pièce</a>
                </div>
            </div>
            <div class="mt-5">
                {% include 'part/_partList.html.twig' with {parts: parts} only %}
            </div>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(parts) }}
            </div>
        </article>
    </main>
{% endblock %}