.total-cost {
  font-size: 1.6rem;
  margin-bottom: 0;
}

#indicatorSubmit {
  width: 100px;
  height: 38px;
}

.form-label {
  width: 45px;
}

.no-data {
  font-size: 1.5rem;
}

h1 {
  display: block;
}

.page-sub-title {
  font-family: georgia, serif;
  color: blue;
  margin: 0;
}

.date-start, .date-end{
  width: 31px;
  color: green;
  font-weight: bold;
  height: 18px;
  font-size: 11px;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 0;
}

.buttons {
  margin-top: -2px;
}