.account_buttons_line,
#newButtonsZone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 20px;
  margin-top: 40px;
}

.form_check {
  margin: 0 10px 5px 0;
  padding: 0;
}

.account_buttons_line input[type="checkbox"] {
  display: none;
  /* on cache les vraies cases à cocher */
}

.account_buttons_line label,
#newButtonsZone label {
  padding: 3px;
  border: 2px solid #0d6efd;
  border-radius: 4px;
  cursor: pointer;
  color: #0d6efd;
  background-color: #fff;
  font-weight: 400;
  font-size: 12px;
  transition: all 0.2s ease;
}

.order_number_input {
  width: 8rem;
}

/* Quand c'est coché */
.account_buttons_line input[type="checkbox"]:checked + label {
  background-color: #0d6efd;
  color: #fff;
}

.number_date_line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 2rem;
}

.date_line,
.order_number,
.designation_line,
.provider_line,
.designation_line,
.remark_line,
.invest_line,
.submit-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: inherit;
  margin-top: 17px;
}

.submit_line {
  margin-top: 30px;
  margin-bottom: 20px;
}

.order_number_label,
.order_date_label,
.provider_label,
.designation_label,
.remark_label,
.invest_label {
  margin-right: 1rem;
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.order_letter_number {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  gap: 0.5rem;
}

#order_number,
#lettersField,
#order_date,
#order_provider,
#order_designation {
  display: inline-block;
  height: 2rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: inherit;
}

#lettersField {
  width: 5rem;
}

#order_designation {
  flex: 1;
  width: 40rem;
  white-space: wrap;
}

.invest_line {
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}
