.title_line {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

header h1 {
  white-space: nowrap;
}

header .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.invest {
  margin-left: 5px;
  color: red;
  border: 2px solid red;
  padding: 1px 4px;
  border-radius: 5px;
}

#accountLetters {
  margin: 0;
}

section.buttons {
  margin-bottom: 30px;
}

.first_line,
.second_line,
.third_line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.order-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.info-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
}

.label {
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  margin: 0;
  margin-right: 5px;
}

.value {
  font-size: 1rem;
  white-space: nowrap;
  margin: 0;
}

.orderInfos {
  margin-bottom: 40px;
}

.buttonArea {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.sparePartsTitle {
  font-size: 2rem;
}

.partsTable {
  width: 30%;
}
