.default_message {
    border: 1px solid black; border-radius: 3px; padding: 2px;
}

.part_qte {
    width : 70px;
}

.titre_fournisseur {
    font-size: 1.5rem;
    font-weight: bold;
}

.emailAddress {
    margin: 0px;
}

.red_class {
    color: red;
}