.title {
  font-size: 1.5rem;
}

.content {
  display: none;
}

.content.is-visible {
  display: block;
  font-size: 0.9rem;
}

.button_title {
  background-color: blue; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  width: 200px;
  font-weight: bold;
  margin: 6px 14px 6px 0;
  padding: 5px 0 5px 0;
}

.button_content {
  background-color: blue; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 3px;
  width: 56px;
  margin: 2px 14px 3px 0;
  padding: 2px 2px 2px 2px;
}
