h1 {
  font-size: 2.5rem;
}

/* Page default */
.default-top-margin {
  padding-top: 100px;
}

.default-column {
  margin-top: 2em;
  width: 69%;
}

.default {
  min-height: 100%;
  width: 100%;
  background-color: linear-gradient(#51e6b4, white);
}

.default-title {
  font-family: "Concert One", cursive;
  font-weight: bold;
  color: black;
  text-align: center;
}

.margin-top-resp {
  margin-top: 100px;
}

.btn-default {
  color: white;
  background-color: #4584e9;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  margin-bottom: 17px;
  width: 232px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

.cadre-info-vert {
  border: 2px solid #11e828;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  padding: 20px;
}

.cadre-info-rouge {
  border: 2px solid #e9370f;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  padding: 20px;
}

.flashing-border {
  border: 3px solid red;
  animation: blink 1.5s infinite;
}

@keyframes blink {
    0% { border-color: rgb(92, 231, 17); }
    50% { border-color: transparent; }
    100% { border-color: red; }
}

@media (min-width: 576px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 4rem;
  }
}
