body {
  background-color: #bbd3e8;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 2.8rem;
}

/* Menu de navigation */
.nav-link {
  font-size: 1em;
  text-align: center;
}

main {
  min-height: 100%;
  width: 100%;
}

/* Footer */
.footer {
  background: linear-gradient(#c2f0ea, white);
}

.cc-navbar .nav-link {
  border-bottom: 1px solid transparent;
  transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.cc-navbar .nav-link:hover {
  padding-bottom: 20px;
  border-bottom-color: var(--bs-gray-600);
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}

.logo_profil {
  width: 40px;
}

.default-logo {
  margin: auto;
  max-width: 62%;
}

.bg-color-orange {
  background-color: orange;
}

.index-button {
  width: 108px;
  background-color: #007bff;
  padding: 2px;
  color: white;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Buttons */
.btn-middle {
  width: 91px;
}

/* Navbar form */
.search_word {
  height: 25px;
  padding: 0;
  width: 93px;
  margin-right: 5px;
}

.submit_search_word {
  height: 25px;
  padding: 0;
  width: 70px;
  background-color: blue;
  color: white;
}

.displayMd {
  display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1 {
    font-size: 3.5rem;
  }

  /* Footer */
  .footer_side {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .footer_center {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .default-logo {
    margin: auto;
    max-width: 62%;
  }

  .register-form {
    width: 91%;
    margin: auto;
    margin-top: 50px;
  }
}

@media (min-width: 800px) {
<<<<<<< HEAD
  h1 {
    font-size: 4rem;
  }

=======
>>>>>>> 3b5d2a8088d3309af3780b2157d80c476ebbd90a
  /* Centrage d'un champ */
  .table-center {
    text-align: center;
  }

  .table .sorting {
    display: none;
  }

  .table tr {
    display: block;
    margin-bottom: 40px;
  }

  .table td {
    display: block;
    text-align: center;
  }

  .table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  /* Footer */
  .footer_side {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  .footer_center {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }

  .register-form {
    width: 53%;
    margin: auto;
    margin-top: 50px;
  }

  .edit-profil {
    width: 92%;
    margin: auto;
    margin-top: 50px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }

  .register-form {
    width: 48%;
    margin: auto;
    margin-top: 50px;
  }

  .edit-profil {
    width: 89%;
    margin: auto;
    margin-top: 50px;
  }

  .displayMd {
    display: block;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  h1 {
    font-size: 4.5rem;
  }

  .register-form {
    width: 40%;
    margin: auto;
    margin-top: 50px;
  }

  .edit-profil {
    width: 81%;
    margin: auto;
    margin-top: 50px;
  }
}
