body {
  background-color: #bbd3e8;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Menu de navigation */
.nav-link {
  font-size: 1em;
  text-align: center;
}

main {
  min-height: 100%;
  width: 100%;
}

.date-box {
  width: 160px;
}

.caseHeure {
  width: 82px;
  margin-right: 10px;
}

.time2-box {
  width: 115px;
}

.pick-time-box {
  width: 300px;
}

/* Texte après bouton */
.text-af-btn {
  font-size: 1.2em;
  font-weight: bold;
}

/* Footer */
.footer {
  background: linear-gradient(#c2f0ea, white);
}

.cc-navbar .nav-link {
  border-bottom: 1px solid transparent;
  transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.cc-navbar .nav-link:hover {
  padding-bottom: 20px;
  border-bottom-color: var(--bs-gray-600);
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}

.logo_profil {
  width: 40px;
}

.default-logo {
  margin: auto;
  max-width: 62%;
}

.bg-color-orange {
  background-color: orange;
}

.index-button {
  width: 150px;
  background-color: #007bff;
  padding: 2px;
  color: white;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Buttons */
.btn-middle {
  width: 91px;
}

/* Navbar form */
.search_word {
  height: 25px;
  padding: 0;
  width: 93px;
  margin-right: 5px;
}

.submit_search_word {
  height: 25px;
  padding: 0;
  width: 70px;
  background-color: blue;
  color: white;
}

.displayMd {
  display: none;
}

/* Titre des pages */
.page-title {
  font-family: georgia, serif;
  color: blue;
  margin: 0;
}

/* Menu de navigation */
.nav-item {
  font-weight: bold;
}

/* Traitement des tables responsives */
@media (max-width: 800px) {
  /* Centrage d'un champ */
  .table-center {
    text-align: center;
  }

  .table .sorting {
    display: none;
  }

  .table tr {
    display: block;
    margin-bottom: 20px;
  }

  .table td {
    display: block;
    text-align: center;
  }

  .table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Footer */
  .footer_side {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .footer_center {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .default-logo {
    margin: auto;
    max-width: 62%;
  }

  .register-form {
    width: 91%;
    margin: auto;
    margin-top: 50px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .register-form {
    width: 53%;
    margin: auto;
    margin-top: 50px;
  }

  .edit-profil {
    width: 92%;
    margin: auto;
    margin-top: 50px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .register-form {
    width: 48%;
    margin: auto;
    margin-top: 50px;
  }

  .edit-profil {
    width: 89%;
  }

  .displayMd {
    display: block;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .register-form {
    width: 40%;
    margin: auto;
    margin-top: 50px;
  }

  .edit-profil {
    width: 81%;
  }
}
