.title {
  font-size: 1.2em;
  font-weight: bold;
  color: #0d6efd;
}

.item {
  font-size: 1.2em;
  font-weight: bold;
  color: #0d6efd;
  white-space: nowrap;
}

.item-answer {
  font-size: 1.2em;
  font-weight: normal;
  white-space: normal;
}

.machine-tab-item {
  font-size: 3rem;
}

.standby {
  font-size: 1.4rem;
  color: red;
  background-color: white;
  border-radius: 5px;
  width: 330px;
  padding: 5px;
  text-align: center;
}