.global-date-box {
  border: 1px solid blue;
  border-radius: 10px;
  max-width: 660px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.global-duration-box {
  border: 1px solid blue;
  border-radius: 10px;
  max-width: 315px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px;
}

.global-stop-time-box {
  border: 1px solid blue;
  border-radius: 10px;
  max-width: 225px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px;
}

.global-cost-box {
  border: 1px solid blue;
  border-radius: 10px;
  max-width: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px;
}

.duration {
  display: flex;
  justify-content: start;
  align-items: baseline;
  flex-wrap: wrap;
}

.item {
  font-size: 1.2em;
  font-weight: bold;
  color: #0d6efd;
  white-space: nowrap;
}
