.machines-box {
  width: 760px;
}
.caseTemps {
  width: 157px;
}

.caseHeure {
  width: 82px;
  margin-right: 10px;
}

.caseHeure2 {
  width: 100px;
}

.bloc_date {
  width: 400px;
}

.bloc_duree {
  width: 320px;
}

.bloc_cout {
  width: 177px;
}

.bloc_arret_machine {
  width: 270px;
}

.item {
  font-size: 1.2em;
  font-weight: bold;
  color: #0d6efd;
  white-space: nowrap;
}

.item-answer {
  font-size: 1.2em;
  font-weight: bold;
  color: #0d6efd;
  white-space: normal;
}

.global-date-box {
  border: 1px solid blue;
  border-radius: 10px;
  max-width: 670px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.global-duration-box {
  border: 1px solid blue;
  border-radius: 10px;
  max-width: 315px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px;
}

.global-stop-time-box {
  border: 1px solid blue;
  border-radius: 10px;
  max-width: 225px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px;
}

.global-cost-box {
  border: 1px solid blue;
  border-radius: 10px;
  max-width: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px;
}

.duration {
  display: flex;
  justify-content: start;
  align-items: baseline;
  flex-wrap: wrap;
}
