{% for workorder in workorders %}
    <tr>
        <td>
            <a href="{{ path('work_order_show', {'id': workorder.id}) }}">{{ workorder.id }}</a>
        </td>
        <td class="text-center">
            {% for machine in workorder.machines %}
                <div class="d-inline justify-content-start">
                    <span class="border-secondary rounded border mr-2 px-1">{{ machine.designation}}<span>
                </div>
            {% endfor %}    
        </td>
        <td class="text-center">{{ workorder.request }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="6">Il n'y a pas de bons de travail enregistré</td>
    </tr>
{% endfor %}