{% extends 'base.html.twig' %}

{% block title %}Préventif
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-xl-10">
			<header class="justify-content-start mb-3 me-5">
				<div class="d-flex justify-content-start align-items-center flex-wrap">
					<h1 class="page-title me-5">Bons de travail préventifs</h1>
					<a class="btn btn-primary btn-sm me-2" href="{{ path('preventive_new', {'mode': 'preventive'}) }}" role="button">Nouveau préventif</a>
					<a class="btn btn-warning btn-sm" href="{{ path('preventiveCalendar') }}" role="button">Calendrier</a>
				</div>
			</header>
			<section class="row js-filter">
				<div>
					{% include 'preventive/_templateList.html.twig' with {templates: templates, form: form} only %}
					{# Navigation #}
					<div class="col-10 navigation js-filter-pagination mb-5">
						{% include 'preventive/_pagination.html.twig' %}
					</div>
				</div>
			</section>
		</article>
	</main>
{% endblock %}
