{% extends 'base.html.twig' %}

{% block title %}Préventif{% endblock %}

{% block body %}
    <header class="row mt-5">
        <div class="col-4 offset-2">
            <h2>Bons de travail préventifs</h2>
        </div>
    </header>
    <main class="row preventive-js-filter">
        <aside class="col-2 mt-5">
            <div class="mb-5">
                <a class="btn btn-primary btn-sm" href="{{ path('template_new') }}" role="button">Nouveau bon de travail préventif</a>
            </div>
            {% include 'preventive/_filter.html.twig' %}
        </aside> 
        <article class="col-10">
            <div class="mt-5">
                {% include 'preventive/_templateList.html.twig' with {templates: templates} only %}
            </div>
            {# display navigation #}
            <div class="navigation js-filter-pagination">
                {% include 'preventive/_pagination.html.twig' %}
            </div>
        </article>
    </main>
{% endblock %}