{{ form_start(form, {'attr': {'id': 'formDate', 'class': 'd-flex justify-content-start align-items-center flex-wrap'}}) }}
<div class="d-flex justify-content-start align-items-start">
	<div class="d-flex flex-column">
		<div class="me-3 d-flex justify-content-start align-items-center">
			<label class="form-label">Du :</label>
			{{ form_widget(form.startDate) }}
		</div>
		<div class="buttons ms-5">
			<button class="date-start" type="button" data-increment="J+">J+</button>
			<button class="date-start" type="button" data-increment="M+">M+</button>
			<button class="date-start" type="button" data-increment="Y+">A+</button>
		</div>
		<div class="buttons ms-5">
			<button class="date-start" type="button" data-increment="J-">J-</button>
			<button class="date-start" type="button" data-increment="M-">M-</button>
			<button class="date-start" type="button" data-increment="Y-">A-</button>
		</div>
	</div>
	<div class="d-flex flex-column">
		<div class="me-3 d-flex justify-content-start align-items-center">
			<label class="form-label">Au :</label>
			{{ form_widget(form.endDate) }}
		</div>
		<div class="buttons ms-5">
			<button class="date-end" type="button" data-increment="J+">J+</button>
			<button class="date-end" type="button" data-increment="M+">M+</button>
			<button class="date-end" type="button" data-increment="Y+">A+</button>
		</div>
		<div class="buttons ms-5">
			<button class="date-end" type="button" data-increment="J-">J-</button>
			<button class="date-end" type="button" data-increment="M-">M-</button>
			<button class="date-end" type="button" data-increment="Y-">A-</button>
		</div>
	</div>
	<button id="indicatorSubmit" type="submit" class="btn btn-primary btn-sm mb-2">Valider</button>
</div>
{{ form_end(form) }}
