 <div class=" col-4 d-flex justify-content-between align-items-center">
    <a href="{{ path('app_work_time') }}" class="btn btn-primary btn-sm admin-button" role="button">Temps interventions</a>
    <a href="{{ path('app_machine_cost') }}" class="btn btn-primary btn-sm admin-button">Coût machines</a>
    <a href="{{ path('app_cost_per_month') }}" class="btn btn-primary btn-sm admin-button" role="button">Coût/mois</a>
</div>