 <div class="d-flex justify-content-start align-items-center flex-wrap">
    <a href="{{ path('app_work_time') }}" class="btn btn-primary btn-sm admin-button me-2 mb-2" role="button">Temps interventions</a>
    <a href="{{ path('app_machine_cost') }}" class="btn btn-primary btn-sm admin-button me-2 mb-2">Coût machines</a>
    <a href="{{ path('app_cost_per_month') }}" class="btn btn-primary btn-sm admin-button me-2 mb-2" role="button">Coût/mois</a>
    <a href="{{ path('app_cur_prev') }}" class="btn btn-primary btn-sm admin-button me-2 mb-2" role="button">Préventif/Curatif</a>
</div>