{% extends 'base.html.twig' %}

{% block title %}Indicateurs : temps intervention
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/indicator.css">
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-xl-10">

			<header>
				<div class="row">
					<div class="d-flex justify-content-start align-items-center flex-wrap">
						<h1 class="page-title me-5 mb-2">Coût des pièces détachées/mois</h1>
						{% include 'indicator/_indicator_navbar.html.twig' %}
					</div>
				</div>
			</header>

			<section class="mt-4 d-flex justify-content-start flex-wrap text-align-center">
				{% include 'indicator/_dateForm.html.twig' %}
			</section>
			<section class="mt-4">
				<div class="row">
					<div id="graphique" class="col-11 col-sm-10 col-md-10 col-lg-8 col-xl-8 mt-3">
						<canvas id="myChart"></canvas>
					</div>
				</div>
			</section>
		</article>

		{% if months is not null %}
			<div class="month" data-chartdates="{{ months }}"></div>
		{% endif %}
		{% if values is not null %}
			<div class="values" data-chartamounts="{{ values }}"></div>
		{% endif %}
	</main>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2" defer></script>
	<script src="/assets/js/indicators.js" defer></script>
	// <script src="/assets/js/costPerMonthJschart.js" defer></script>
	{% if values is not empty and months is not empty %}
		<script src="/assets/js/costPerMonthJschart.js" defer></script>
	{% endif %}

{% endblock %}
