{% extends 'base.html.twig' %}

{% block title %}Indicateurs : temps intervention
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-xl-10">
			<header>
				<div class="row">
					<div class="d-flex justify-content-start align-items-center flex-wrap">
						<h1 class="page-title me-5">Coût des pièces détachées/mois</h1>
						{% include 'indicator/_indicator_navbar.html.twig' %}
					</div>
				</div>
			</header>
			<section class="mt-4">
				<div class="row">
					<div class="col-11 col-sm-10 col-md-10 col-lg-8 col-xl-8 mt-3">
						<canvas id="myChart"></canvas>
					</div>
				</div>
			</section>
		</article>
		<div class="month" data-chartdates="{{ months }}"></div>
		<div class="values" data-chartamounts="{{ values }}"></div>
	</main>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
	//
	<script>
		src = "https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"
	</script>
	{{ encore_entry_script_tags('costPerMonthJschart') }}
{% endblock %}
