{% extends 'base.html.twig' %}

{% block title %}Pièces en réappro
{% endblock %}

{% set varProvider = "" %}
{% block body %}
	<div class="row part-js-filter justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-md-11 col-lg-11 col-xl-10">
			<h1 class="page-title mb-2">Pièces en réappro</h1>
			{% include 'supply/_partToBuyList.html.twig' with {parts: parts, varProvider: varProvider} only %}
		</article>
	</div>
{% endblock %}
