/* Traitement des tables responsives */
@media (max-width: 800px) {
  /* Centrage d'un champ */
  .table-center {
    text-align: center;
  }

  .table .sorting {
    display: none;
  }

  .table tr {
    display: block;
    margin-bottom: 40px;
  }

  .table td {
    display: block;
    text-align: center;
  }

  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}

/* Administration page */
.admin-title {
  width: 100%;
  margin: auto;
  text-align: center;
}

.admin-button {
  width: 150px;
}

/* Edit profil page */
.edit-profil {
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.btn-list {
  width: 30%;
}

/* Formulaire nouveau BT  */
.bloc_date {
  width: 400px;
}

.bloc_duree {
  width: 320px;
}

.bloc_cout {
  width: 177px;
}

.bloc_arret_machine {
  width: 270px;
}

.caseTemps {
  width: 140px;
}

.caseHeure {
  width: 82px;
  margin-right: 10px;
}

.caseHeure2 {
  width: 100px;
}

/* Affichage des pièces dans l'encart du panier */
.items_display {
  font-size: 0.7em;
}

.btn_supp {
  max-height: 2em;
  font-size: 0.6em;
  padding-top: 0;
}

.btn_panier {
  max-height: 1.5em;
  font-size: 1em;
  padding-top: 0;
  margin-top: 5px;
}

/* formulaire de sélection de pièces */
.resetBtn {
  margin-left: 10px;
}

.case_machine {
  border: solid black 1px;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

/* Index pièces et machines */
.font_size_table {
  font-size: 0.8em;
}

/* Index machines largeur champ formulaire */
.form_width {
  width: 56%;
  margin-right: 5px;
}

/* champs show BT */
.champs_bt {
  background-color: white;
  border-radius: 5px;
  padding: 2px;
  padding-left: 4px;
  margin-left: 10px;
}

/* Page parts to buy */
.part-code {
  width: 100px;
}

/* Bouton Nouveau... ou autre en deux mots */
.new-btn {
  width: 140px;
  text-align: center;
  font-size: 1em;
}

/* Texte après bouton */
.text-af-btn {
  font-size: 1.2em;
  font-weight: bold;
}

