html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

main {
  min-height: 100%;
  width: 100%;
}

footer {
  background: linear-gradient(#c2f0ea, white);
}

/* Page login image de fond */
.login {
  min-height: 100%;
  width: 100%;
  background: url("/public/images/conditionnement4.png") no-repeat center center
    fixed;
  background-size: cover;
}

.login_frame {
  width: 28%;
  border: 1px solid white;
  margin: auto;
  margin-top: 2em;
}

.logo_profil {
  width: 40px;
}

.bg-color-orange {
  background-color: orange;
}

/* Formulaire nouveau BT  */
.caseTemps {
  width: 100px;
}

/* Affichage des pièces dans l'encart du panier */
.items_display {
  font-size: 0.7em;
}

.btn_supp {
  max-height: 2em;
  font-size: 0.6em;
  padding-top: 0px;
}

.btn_panier {
  max-height: 1.5em;
  font-size: 1em;
  padding-top: 0px;
  margin-top: 5px;
}

/* formulaire de sélection de pièces */
.resetBtn {
  margin-left: 10px;
}

.case_machine {
  border: solid black 1px;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

/* Index pièces et machines */
.font_size_table {
  font-size: 0.8em;
}

/* Index machines largeur champ formulaire */
.form_width {
  width: 56%;
  margin-right: 5px;
}

/* champs show BT */
.champs_bt {
  background-color: white;
  border-radius: 5px;
  padding: 2px;
  padding-left: 4px;
  margin-left: 10px;
}
