html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Menu de navigation */
.nav-link {
  font-size: 1em !important;
  text-align: center;
}

main {
  min-height: 100%;
  width: 100%;
}

footer {
  background: linear-gradient(#c2f0ea, white);
}

/* Traitement des tables responsives */
@media (max-width: 800px) {
  /* .table thead {
    display: none;
  } */

  .table .sorting {
    display: none;
  }

  .table tr {
    display: block;
    margin-bottom: 40px;
  }

  .table td {
    display: block;
    text-align: right;
  }

  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
  }
}

/* Page login image de fond */
.login {
  min-height: 100%;
  width: 100%;
  background: url("/public/images/conditionnement4.png") no-repeat center center
    fixed;
  background-size: cover;
}

.login_frame {
  width: 58%;
  border: 1px solid white;
  margin: auto;
  margin-top: 2em;
}

.logo_profil {
  width: 40px;
}

.bg-color-orange {
  background-color: orange;
}

/* Page default */
.default-column {
  margin-top: 2em;
  width: 69%;
}

.displayMd {
  display: none;
}

.default {
  min-height: 100%;
  width: 100%;
  background-color: linear-gradient(#51e6b4, white);
}

.default-tiltle {
  font-family: "Concert One", cursive;
  font-size: 4em;
  color: black;
  text-align: center;
}

.margin-top-resp {
  margin-top: 100px;
}

.default-logo {
  margin: auto;
  max-width: 62%;
}

.btn-default {
  display: inline-block;
  color: white;
  background-color: #4584e9;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 502;
  font-size: 1em;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin-bottom: 17px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

/* Register page */
.register-form {
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

/* Administration page */
.admin-title {
  width: 100%;
  margin: auto;
  text-align: center;
}

.admin-button {
  width: 150px;
}

/* Edit profil page */
.edit-profil {
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.btn-list {
  width: 30%;
}

/* Users picture */

/* Formulaire nouveau BT  */
.caseTemps {
  width: 150px;
}

.caseHeure {
  width: 90px;
  margin-right: 26px;
}

/* Affichage des pièces dans l'encart du panier */
.items_display {
  font-size: 0.7em;
}

.btn_supp {
  max-height: 2em;
  font-size: 0.6em;
  padding-top: 0;
}

.btn_panier {
  max-height: 1.5em;
  font-size: 1em;
  padding-top: 0;
  margin-top: 5px;
}

/* formulaire de sélection de pièces */
.resetBtn {
  margin-left: 10px;
}

.case_machine {
  border: solid black 1px;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

/* Index pièces et machines */
.font_size_table {
  font-size: 0.8em;
}

.part-index-button {
  width: 93px;
}

.machine-index-button {
  width: 108px;
}

.workorder-index-button {
  width: 64px;
}

.delivery-note-index-button {
  width: 100px;
}

/* Index machines largeur champ formulaire */
.form_width {
  width: 56%;
  margin-right: 5px;
}

/* champs show BT */
.champs_bt {
  background-color: white;
  border-radius: 5px;
  padding: 2px;
  padding-left: 4px;
  margin-left: 10px;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .displayMd {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .displayMd {
    display: none;
  }

  .register-form {
    width: 91%;
    margin: auto;
    margin-top: 50px;
  }

  .login_frame {
    width: 47%;
    border: 1px solid white;
    margin: auto;
    margin-top: 2em;
  }

  .default-logo {
    margin: auto;
    max-width: 62%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .displayMd {
    display: block;
  }

  .register-form {
    width: 53%;
    margin: auto;
    margin-top: 50px;
  }

  .login_frame {
    width: 33%;
    border: 1px solid white;
    margin: auto;
    margin-top: 2em;
  }

  .default-column {
    width: 48%;
  }

  .edit-profil {
    width: 92%;
    margin: auto;
    margin-top: 50px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .login_frame {
    width: 28%;
    border: 1px solid white;
    margin: auto;
    margin-top: 2em;
  }

  .register-form {
    width: 48%;
    margin: auto;
    margin-top: 50px;
  }

  .edit-profil {
    width: 89%;
    margin: auto;
    margin-top: 50px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .login_frame {
    width: 22%;
    border: 1px solid white;
    margin: auto;
    margin-top: 2em;
  }

  .register-form {
    width: 40%;
    margin: auto;
    margin-top: 50px;
  }

  .edit-profil {
    width: 81%;
    margin: auto;
    margin-top: 50px;
  }
}
