<form method="post" action="{{ path('work_order_delete', {'id': workorder.id}) }}" onsubmit="return confirm('Veux-tu vraiment supprimer ce BT ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ workorder.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
