<table class="table table-striped">
    <thead class="js-filter-sorting">
        {% include 'workorder/_sorting.html.twig' %}
    </thead>
    <tbody class="js-filter-content">
        {% include 'workorder/_workorders.html.twig' %}
    </tbody>
</table>