{% extends 'base.html.twig' %}

{% block title %}Bons de travail
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-md-12 col-lg-12 col-xl-10">
			<header class="row mb-3 me-5 justify-content-start align-items-center">
				<div class="col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5">
					<h1 class="page-title">Bons de travail</h1>
				</div>
				<div class="col-12 col-sm-6">
					<a class="btn btn-primary" href="{{ path('work_order_new') }}" role="button">Nouveau bon de travail</a>
				</div>
			</header>
			<section class="row js-filter">
				<div>
					{% include 'workorder/_workorderList.html.twig' with {workorders: workorders, form: form} only %}
					{# Navigation #}
					<div class="col-10 navigation js-filter-pagination mb-5">
						{% include 'workorder/_pagination.html.twig' %}
					</div>
				</div>
			</section>
		</article>
	</main>
{% endblock %}
