{% extends 'base.html.twig' %}

{% block title %}Bons de travail{% endblock %}

{% block body %}
    <main class="row mt-5">
        <aside class="col-2">
            {% include 'workorder/_filter.html.twig' %}
        </aside>
        <article class="col-10 mx-auto">
            <div class="row align-items-center">
                <div class="col-3">
                    <h2>Bons de travail</h2>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary btn-sm" href="{{ path('work_order_new') }}" role="button">Nouveau bon de travail</a>
                </div>
            </div>
            <div class="mt-5">
                {% include 'workorder/_workorderList.html.twig' with {workorders: workorders} only %}
            </div>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(workorders) }}
            </div>
        </article>
    </main>
{% endblock %}