{% extends 'base.html.twig' %}

{% block title %}Bons de travail
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-md-12 col-lg-12 col-xl-10">
			<header class="d-flex justify-content-start align-items-center flex-wrap mb-5">
				<h1 class="page-title me-5">Bons de travail</h1>
				<a class="btn btn-primary btn-ms" href="{{ path('work_order_new') }}" role="button">Nouveau bon de travail</a>
			</header>
			<section class="row js-filter">
				<div>
					{% include 'workorder/_workorderList.html.twig' with {workorders: workorders, form: form} only %}
					{# Navigation #}
					<div class="col-10 navigation js-filter-pagination mb-5">
						{% include 'workorder/_pagination.html.twig' %}
					</div>
				</div>
			</section>
		</article>
	</main>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# garde app.js #}
	{{ encore_entry_script_tags('filterIndex') }}
{% endblock %}
