<div class="footer row py-5">
	<div class="col-12 col-sm-4 d-flex flex-column justify-content-center align-items-center align-self-center order-1 order-sm-0">

		<p class="footer_side">PULSIOS - FL</p>
		<p>pulsios67@gmail.com</p>
	</div>
	<div class="col-12 col-sm-4 d-flex flex-column justify-content-center align-items-center align-self-center order-0 order-sm-1">

		<p class="footer_center">Maintenance Pierre Schmidt</p>
	</div>
	<div class="col-12 col-sm-4 d-flex flex-column justify-content-center align-items-center align-self-center order-2 order-sm-2">

		<p class="footer_side">V6.2</p>
	</div>
</div>
