<div class="footer row py-5">
    <div class="col-4 text-center d-flex flex-column align-self-center justify-content-center">
        <h5 class="fw-bold">PULSIOS</h5>
    </div>
    <div class="col-4 text-center d-flex align-self-center" style="font-size: 1.6em;">
        <h2 class="fw-bold d-flex justify-content-center">Gestion maintenance Pierre Schmidt</h2>
    </div>
    <div class="col-4 text-center d-flex flex-column align-self-center justify-content-center">
        <p class="fw-bold">V 3.0</p>
    </div>
</div>