<div class="footer row py-5">
    <div class="col-4 text-center d-flex flex-column align-self-center justify-content-center">
        <h5 class="footer_left">PULSIOS</h5>
    </div>
<div class="col-4 text-center d-flex flex-column align-self-center" style="font-size: 1.6em;">
        <h2 class="footer_center">Gestion maintenance Pierre Schmidt</h2>
    </div>
    <div class="col-4 text-center d-flex flex-column align-self-center justify-content-center">
        <p class="footer_right">V 3.0</p>
    </div>
</div>