<div class="col-4 text-center d-flex flex-column align-self-center justify-content-center">
    <p>Réalisation : </p>
    <p class="font-weight-bold">PULSIOS</p>
    <p>67116 Reichstett</p>
</div>
<div class="col-4 text-center d-flex flex-column align-self-center justify-content-center" style="font-size: 1.6em;">
    <h2 class="font-weight-bold">Gestion maintenance Pierre Schmidt</h2>
</div>
<div class="col-4 text-center d-flex flex-column align-self-center justify-content-center">
    <p>Version : 2.0</p>
    <p>Mod. : Saisie BL</p>
</div>