<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Gmao PS
			{% endblock %}
		</title>

		<!-- Icônes -->
		<script src="https://kit.fontawesome.com/5ae581f548.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

		<!-- Feuilles de style -->
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

		{% block stylesheets %}
			{# {{ encore_entry_link_tags('app') }} #}
		{% endblock %}

		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap 5 (JS bundle avec Popper inclus) -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer></script>
	</head>

	<body>
		{# On n'affiche pas la navbar sur la page de login et d'accueil #}
		{% if app.request.get('_route') != 'app_login' 
			and app.request.get('_route') != 'home' 
			and app.request.get('_route') != 'app_forgot_password_request'
			and app.request.get('_route') != 'app_check_email'
			and app.request.get('_route') != 'app_reset_password'
		%}
			{% include '_navbar.html.twig' %}
		{% endif %}

		{% if app.request.get('_route') == 'app_login' %}
			<main class="login">
			{% elseif app.request.get('_route') == 'home' %}
				<main class="default">
				{% else %}
					<main>
					{% endif %}

					<div class="container-fluid"> {% block body %}{% endblock %}
						</div>

					</main>

					<footer>
						{% include '_footer.html.twig' %}
					</footer>

					{% block javascripts %}
						{{ encore_entry_script_tags('app') }}
					{% endblock %}
				</body>
			</html>
		</body>
	</html>
