{{ form_start(form) }}
    {{ form_widget(form) }}
        <div class="row">
            <div class="col-3 text-center">
                <button type="submit" class="btn btn-primary pull-right w-100 mt-3">Valider</button>
            </div>
        </div>
{{ form_end(form) }}

