{% extends 'base.html.twig' %}

{% block title %}Fournisseurs{% endblock %}

{% block body %}
     <header class="row mt-4">
        <div class="col-3 offset-2">
            <h3>Fournisseurs</h3>
        </div>
    </header>
     <main class="row provider-js-filter">
        <aside class="col-2 mt-4">
            <setion>
                {% if mode != 'selectProvider' and mode != 'editProvider' and mode != 'deliveryNoteChangeProv' %}
                    <a class="btn btn-primary btn-sm mb-3" href="{{ path('provider_new') }}" role="button">Nouveau fournisseur</a>
                {% endif %}
                {% include 'provider/_filter.html.twig' %}
            </section>
            {{ include('user/_photo.html.twig') }}
        </aside>
        <article class="col-10">
            <div class="mt-4">
                {% include 'provider/_providerList.html.twig' with {providers: providers, mode: mode, documentId: documentId} only %}
            </div>
            {# display navigation #}
            <div class="navigation js-filter-pagination">
                {% include 'provider/_pagination.html.twig' %}
            </div>
        </article>
    </main>
{% endblock %}
