{% extends 'base.html.twig' %}

{% block title %}New Provider
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/provider.css">
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-md-11 col-lg-10 col-xl-9">
			<header>
				<div class="d-flex justify-content-start align-items-center flex-wrap mb-3">
					<h3 class="text-primary me-5">Création fournisseur</h3>
					<a class="btn btn-primary btn-sm" href="{{ path('provider_index') }}" role="button">Listes des fournisseurs</a>
				</div>
			</header>
			<section class="mb-4">
				{{ include('provider/_form.html.twig') }}
			</section>
		</article>
	</main>

{% endblock %}
