{% extends 'base.html.twig' %}

{% block title %}Fournisseur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/provider.css">
{% endblock %}


{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-md-11 col-lg-10 col-xl-9">
			<header>
				<div class="d-flex justify-content-start align-items-center flex-wrap mb-3">
					<h1 class="text-primary me-5">Fournisseur</h1>
					<div class="d-flex justify-content-start align-items-center flex-wrap ">
						<a class="btn btn-primary btn-sm mb-2 me-2" href="{{ path('provider_index') }}" role="button">Liste fournisseur</a>
						<a class="btn btn-primary btn-sm mb-2 me-2" href="{{ path('provider_edit', {'id': provider.id}) }}">Edition</a>
						{{ include('provider/_delete_form.html.twig') }}
					</div>
				</div>
			</header>
			<section class="row mt-5">
				{% include 'provider/_show.html.twig' %}
			</section>
		</article>
	</main>
{% endblock %}
