<section class="d-flex justify-content-start align-items-center flex-wrap mb-5">
<h1 class="page-title me-5">Messagerie</h1>
	<div>
		<a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
			Voir mes dossiers
		</a>
		<a class="btn btn-primary btn-sm" href="{{ path("send") }}">Envoyer un message</a>
	</div>
</section>
<section>
	<div>
		{# <a class="btn btn-primary btn-sm mb-2" href="{{ path('parts_to_buy') }}" role="button">Liste pièces réappro</a> #}
	</div>
	<p class="pb-2 fw-bold">Messages recus :
		{{ app.user.received|length }}</p>
	<p class="pb-5 fw-bold">Messages envoyés :
		{{ app.user.sent|length }}</p>
</section>
{% include 'messages/_canvas.html.twig' %}

