{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-lg-9">
			{% include 'messages/_sent.html.twig' %}
		</article>
	</main>
{% endblock %}
