<table class="table table-sm table-striped">
    <thead class="js-filter-sorting">
        {% include 'machine/_sorting.html.twig' %}
    </thead>
    <tbody class="js-filter-content">
        {% include 'machine/_machines.html.twig' %}
    </tbody>
</table>