{% extends 'base.html.twig' %}

{% block title %}Machines{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-2 offset-2">
            <h3>Machines</h3>
        </div>
        <div class="col-3">
            <a class="btn btn-primary btn-sm" href="{{ path('machine_new') }}" role="button">Nouvelle machine</a>
        </div>
    </div>
    <div class="row">
        <aside class="col-2">
            {% include 'machine/_filter.html.twig' %}
        </aside>
        <article class="col-10">
            <div class="row mt-4">
                <div class="col-12">
                    {% include 'machine/_machineList.html.twig' with {machines: machines} only %}
                </div>
            </div>
            {# display navigation #}
            <div class="row mt-4">
                <div class="col-5 navigation">
                    {{ knp_pagination_render(machines) }}
                </div>
            </div>
        </article>
    </div>
{% endblock %}