{% extends 'base.html.twig' %}

{% block title %}Liste des astreintes
{% endblock %}

{% block body %}
	<main class="row mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-xl-10">
			<header class="d-flex justify-content-start align-items-center">
				<h1 class="page-title me-5">Astreintes</h1>
				<a class="btn btn-primary btn-sm" href="{{ path('onCall_new') }}" role="button">Nouveau Rapport</a>
			</header>
			<section>
				<div class="mt-5">
					{% include 'onCalls/_onCallList.html.twig' with {onCalls: onCalls} only %}
				</div>
				{# display navigation #}
				<div class="navigation">
					{% include 'onCalls/_pagination.html.twig' %}
				</div>
			</section>
		</article>
	</main>
{% endblock %}
