<div class="account_buttons_line">
	<input type="checkbox" id="piece" data-letter="D" data-route="order_new">
	<label for="piece">Pièces détachées</label>

	<input type="checkbox" id="materiel" data-letter="P" data-route="order_new">
	<label for="materiel">Petit matériel</label>

	<input type="checkbox" id="intervention" data-letter="I" data-route="order_new">
	<label for="intervention">Interventions</label>

	<input type="checkbox" id="main_oeuvre" data-letter="M" data-route="order_new">
	<label for="main_oeuvre">Main d'oeuvre</label>
</div>
