{% extends 'base.html.twig' %}

{% block title %}Nouvelle commande
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/orderNew.css">
{% endblock %}


{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-10 col-md-10">
			<header>
				<h1 class="page-title">Nouvelle commande</h1>
			</header>
			{{ include('order/_form.html.twig') }}
		</article>
	</main>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="/assets/js/orderNew.js" defer></script>
{% endblock %}

