{# templates/bundles/TwigBundle/Exception/error.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
	{% if status_code is defined %}
		{{ status_code }}
		Erreur
	{% else %}
		Erreur
	{% endif %}
{% endblock %}

{% block body %}
	<h1>
		{% if status_code is defined %}
			{{ status_code }}
			Erreur
		{% else %}
			Erreur
		{% endif %}
	</h1>
	<p>
		{% if status_text is defined %}
			{{ status_text }}
		{% else %}
			Une erreur s'est produite.
		{% endif %}
	</p>
	{# Ajoutez votre propre contenu personnalisé ici #}
{% endblock %}

