{% extends 'base.html.twig' %}

{% block title %}Modification utilisateur{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="edit-profil">
        <div class="row justify-content-start align-items-start mt-5 mb-5">
            <div class="col-3 col-md-2 col-lg-1 me-4">
                <h1 class="page-title">Edition</h1>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-3 col-md-5 col-xl-6">
                    <a class="btn btn-primary btn-sm" href="{{ path('user_index') }}" role="button">Listes des Utilisateurs</a>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-10 mb-5">
                <h5 class="mb-3">Identifiant : {{ user.username }}</h5>
                {% include('user/_userEditForm.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
