{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <article class="row mt-5">
        <div class="col-10 offset-2">
            <h3>Liste des Utilisateurs</h3>
        </div>
    </article>
    <div class="row mt-5">
        <aside class="col-2">
            <a class="btn btn-primary btn-sm" href="{{ path('app_register') }}" role="button">Nouvel utilisateur</a>
            {% include 'user/_photo.html.twig' %}
        </aside>
        <div class="col-8">
            {% include 'user/_userList.html.twig' with {users: users} only %}
        </div>
    </div>
{% endblock %}
