{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <main class="d-flex justify-content-start mt-5">
        <aside class="col-2 displayMd mt-5">
            {% include 'user/_photo.html.twig' %}
        </aside>
        <div class="col-11 col-md-9 ms-1">
            <div class="d-flex justify-content-start align-items-center mb-5">
                <h3 class="me-5 text-primary">Liste des Utilisateurs</h3>
                <a class="btn btn-primary btn-sm" href="{{ path('app_register') }}" role="button">Nouvel utilisateur</a>
            </div>
            {% include 'user/_userList.html.twig' with {users: users} only %}
        </div>
    </main>
{% endblock %}
