{% extends 'base.html.twig' %}

{% block title %}Modification utilisateur{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7 mt-4 mb-4">
                <div class="row align-items-center mb-4">
                    <div class="col-3">
                        <h1>Edition</h1>
                    </div>
                    
                    <div class="col-3">
                        <a class="btn btn-primary btn-sm" href="{{ path('user_list') }}" role="button">Listes des Utilisateurs</a>
                    </div>
                </div>
                <div class="row">
            <div class="col-12 mb-4">
                <h4 class="mb-3">Identifiant : {{ user.username }}</h4>
                {% include('user/_userEditForm.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
